*.user
*.suo
*ReSharper*
SimpleConfigSections/*/Debug
SimpleConfigSections/*/Release
SimpleConfigSections/*/Nuget
SimpleConfigSections/obj
Tests.SimpleConfigSections/*/Debug
Tests.SimpleConfigSections/*/Release
Tests.SimpleConfigSections/obj
Tests.SimpleConfigSections/*/Nuget
SimpleConfigSections.NUnitTests/*/Debug
SimpleConfigSections.NUnitTests/*/Release
SimpleConfigSections.NUnitTests/obj
SimpleConfigSections.NUnitTests/*/Nuget
nugetpackage/*.nupkg
nugetpackage/lib/net35/*